@font-face {
  font-family: "iconfont"; /* Project id 2998528 */
  src: url('iconfont.woff2?t=1649313264232') format('woff2'),
       url('iconfont.woff?t=1649313264232') format('woff'),
       url('iconfont.ttf?t=1649313264232') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zanting1:before {
  content: "\e619";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-xihuan1:before {
  content: "\e8c3";
}

.icon-gengduo-shuxiang:before {
  content: "\e8c4";
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-caozuo-xunhuan1:before {
  content: "\e62b";
}

.icon-pinglun:before {
  content: "\e649";
}

.icon-shangyishou:before {
  content: "\e604";
}

.icon-xiayishou:before {
  content: "\e602";
}

.icon-24gl-repeatOnce:before {
  content: "\ea75";
}

.icon-xihuan:before {
  content: "\e613";
}

.icon-xiazai:before {
  content: "\e632";
}

.icon-xunhuanbofang:before {
  content: "\e6bf";
}

.icon-left-1:before {
  content: "\e603";
}

.icon-right-1-copy:before {
  content: "\e61f";
}

.icon-bofang1:before {
  content: "\e87c";
}

.icon-shuaxin:before {
  content: "\ec08";
}

.icon-tuijian:before {
  content: "\e60a";
}

.icon-woyaozhibo:before {
  content: "\e633";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

.icon-shouyinji:before {
  content: "\e6c0";
}

.icon-gengduo1:before {
  content: "\e60c";
}

.icon-daochu1024-02:before {
  content: "\e615";
}

.icon-luyin:before {
  content: "\e7d0";
}

.icon-bofang1-copy:before {
  content: "\ec09";
}

.icon-liebiao5:before {
  content: "\e648";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-paihangbang:before {
  content: "\e782";
}

.icon-gedan:before {
  content: "\e66a";
}

.icon-gedan1:before {
  content: "\e636";
}

.icon-gedan2:before {
  content: "\e61b";
}

.icon-rili:before {
  content: "\e811";
}

.icon-gengduo:before {
  content: "\e606";
}

.icon-zhibo:before {
  content: "\e623";
}

